
@font-face {
  font-family: IRANYekanXRegular;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANYekanX/IRANYekanX-Regular.woff') format('woff'),
  url('../fonts/IRANYekanX/IRANYekanX-Regular.woff2') format('woff2');
}